
{% extends "base.html" %}

<!-- Custom front matter -->
{% block extrahead %}

  <!-- Determine title -->
  {% set title = config.site_name %}
  {% if page and page.title and not page.is_homepage %}
    {% set title = config.site_name ~ " - " ~ page.title | striptags %}
  {% endif %}

  <!-- The image needs to have an absolute URL -->
  <!--{% set image = config.site_url ~ 'assets/green-api-logo_2.png' %} -->

  <!-- Open graph meta tags -->
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ config.site_description }}">
  <meta property="og:image" itemprop="image" content="https://green-api.com.kz/green-api-logo_2.png">
  <meta property="og:image:secure_url" itemprop="image" content="https://green-api.com.kz/green-api-logo_2.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:alt" content="GREEN API">
  <meta property="og:image:width" content="150"/>
  <meta property="og:image:height" content="150"/>
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://green-api.com/">
  <meta name="description" content="{{ config.site_description }}"/>
  <link rel="image_src" href="https://green-api.com.kz/green-api-logo_2.png">
  <link rel="shortcut icon" href="https://green-api.com.kz/green-api-logo_2.png">

  <!-- Twitter meta tags -->
  <meta name="twitter:card" content="https://green-api.com.kz/green-api-logo_2.png" />
  <meta name="twitter:site" content="https://green-api.com.kz" />
  <meta name="twitter:creator" content="GREEN API" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ config.site_description }}" />
  <meta name="twitter:image" content="https://green-api.com.kz/green-api-logo_2.png" />
  <!-- Yandex.Metrika counter -->

<script type="text/javascript">

    (function (m, e, t, r, i, k, a) {

    m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };

        m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)

    })

        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");



    ym(62362687, "init", {

        clickmap: true,

        trackLinks: true,

        accurateTrackBounce: true

    });

</script>

<noscript>

    <div><img src="https://mc.yandex.ru/watch/62362687" style="position:absolute; left:-9999px;" alt="" /></div>

</noscript>
<!-- /Yandex.Metrika counter -->

<!-- Jivo Widget -->
<!-- <script src="//code-ya.jivosite.com/widget/xlYRzYgjwH" async></script> -->

<!-- HELPDESKEDDY WIDGETS START -->
<script>
  window.hdeContactWidgetCustom = JSON.parse(
    '{"size":32,"position":"bottom-right","direction":"top","bg":"24C524","color":"FFFFFF","buttons":[{"source":"chat","bg":"FF8C00"},{"source":"telegram","url":"https://t.me/GreenAPIchatbot"},{"source":"whatsapp","url":"https://wa.me/79993331223"}]}'
  );
</script>

<script
  src="//cdn5.helpdeskeddy.com//js/contact-widget.js"
  id="hde-contact-widget"
  data-assets-host="//cdn5.helpdeskeddy.com/"
  data-host="testovayaintegra.helpdeskeddy.com"
  data-chat-width="350"
  data-chat-height="500"
  data-lang="ru"
  defer
></script>
<!-- HELPDESKEDDY WIDGETS END -->

{% endblock %}
