
{% extends "base.html" %}

<!-- Custom front matter -->
{% block extrahead %}

  <!-- Determine title -->
  {% set title = config.site_name %}
  {% if page and page.title and not page.is_homepage %}
    {% set title = config.site_name ~ " - " ~ page.title | striptags %}
  {% endif %}

  <!-- The image needs to have an absolute URL -->
  {% set image = config.site_url ~ 'assets/green-api-logo_2.png' %}

  <!-- Open graph meta tags -->
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ config.site_description }}">
  <meta property="og:image" content="https://storage.yandexcloud.net/devslonbook/green-api-logo_2.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:alt" content="GREEN API">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://green-api.com.kz">
  <meta name="description" content="{{ config.site_description }}"/>
  <link rel="image_src" href="https://green-api.com/green-api-logo_2.png">

  <!-- Twitter meta tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@squidfunk" />
  <meta name="twitter:creator" content="@squidfunk" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ config.site_description }}" />
  <meta name="twitter:image" content="{{ image }}" />
{% endblock %}
